# server
SERVER_PORT=51000
# redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=1
# mysql
MYSQL_DB1={"host":"","port":"","user":"","password":"","database":""}
MYSQL_DB_LOGIN={"host":"","port":"","user":"","password":"","database":""}
MYSQL_DB_TOKEN={"host":"","port":"","user":"","password":"","database":""}
# DDNS
DDNS_FILE=.ddns.json
# cmd
CMD_DIR=/download/gitspace/image_baidu/download_node/cmd
# storage
# 缓存类型
STORAGE_TYPE=Local
# Local缓存目录
LOCAL_DIR=cache/storage
# 备份目录
BACKUP_DIR=/backupDir

# api
API_PREFIX=/api

# jwt 
# 30*24*60*60
JWT_R_COOKIE_MAX_AGE=2592000 